[url "://danielkummer.github.io/git-flow-cheatsheet/ttps://"]
	insteadOf = git://

[user]
  email = sktnkysh+dev@gmail.com
  name = sktnkysh
  
[url "github:"]
  pushInsteadOf = https://github.com/
  pushInsteadOf = git@github.com:
  
[alias]
  alias = !git config --get-regexp '^alias\\.' | sed 's/alias\\.\\([^ ]*\\) \\(.*\\)/\\1\\\t => \\2/' | sort
  ta = log --graph --branches --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(green)- %an, %cr%Creset'
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  dc = git diff --cached
  g = log --all --graph --oneline --decorate=full
  d = diff
  diff-help = !echo 'http://dqn.sakusakutto.jp/2013/06/git_diff_branch_file.html'
  s = status
  amend = commit --amend 
  ss = status -s
  co = checkout
  cb = checkout -b
  b = branch
  ba = branch -a
  bd = branch -d
  bm = branch -m #old_name #new_name
  f = fetch
  r = remote -v
  m = merge --no-ff 
  pull-force = !git fetch origin & git reset --hard origin/master
  l = ls-files
  # cp-file-over-branch = !git co <dst_branch> & git co <src_branch> -- <src_file>
  stash-help = !echo 'https://qiita.com/akasakas/items/768c0b563b96f8a9be9d'

  undo = reset HEAD~1 --mixed
  cm = !git add -A && git commit -m 

# git flow
  flow-init = flow init
  flow-help = !sh -c 'echo https://danielkummer.github.io/git-flow-cheatsheet/ && echo https://gist.github.com/JamesMGreene/cdd0ac49f90c987e45ac'
  echoes = !sh -c 'echo hi && echo bye'

  ff = flow feature
  ffs = flow feature start
  ffp = flow feature publish
  
[push]
  default = simple
