[user]
  email = fytro10@gmail.com
  name = fytroo
  
[url "github:"]
  InsteadOf = https://github.com/
  InsteadOf = git@github.com:
  
[alias]
  ffs = flow feature start
  dc = git diff --cached
  g = log --all --graph --oneline --decorate=full
  d = diff
  s = status
  cm = commit -m
  amend = commit --amend 
  ss = status -s
  co = checkout
  cb = checkout -b
  b = branch
  ba = branch -a
  bd = branch -d
  bm = branch -m #old_name #new_name
  f = fetch
  r = remote
  m = merge --no-ff 
  pull-force = !git fetch origin & git reset --hard origin/master
  l = ls-files
  
[push]
  default = simple
